<div class="md-toolbar-tools">
  <md-button class="md-icon-button" ui-sref="mainApp" ng-click="$event.stopPropagation()" aria-label="Home">
    <md-icon md-svg-icon="/static/images/favicon.svg"></md-icon>
  </md-button>
  <h2>
    <a ui-sref="^.listRoutes" ng-click="$event.stopPropagation()">
      {{ gym.name }} / {{ wall.name }} / {{ route.color.name }} {{ route.difficulty.name }}
    </a>
  </h2>
  <span flex></span>
  {{ AuthService.LoggedInUser.username }}
  <md-button ng-if="AuthService.canLogoff()"   ng-click="logout($event)"   class="md-raised">Logout</md-button>
  <md-button ng-if="AuthService.canLogin()"    ng-click="login($event)"    class="md-raised">Login</md-button>
  <md-button ng-if="AuthService.canRegister()" ng-click="register($event)" class="md-raised">Register</md-button>
</div>
