<md-list>
  <md-list-item ng-repeat="ascent in $ctrl.ascents" class="md-3-line">
    <img ng-src="{{ ascent.outcome.image }}" class="md-avatar" alt="{{ ascent.outcome.name }}"></img>

    <div class="md-list-item-text" layout="column">
      <h3>{{ ascent.user.username }}</h3>
      <p>{{ ascent.date | date: 'mediumDate' }}</p>
      <p>{{ ascent.comments }}</p>
    </div>

  </md-list-item>
</md-list>

<div class="fixed-bottom-right">
  <md-button class="md-fab md-mini" ng-click="$ctrl.addAscent($event)">
    <md-icon md-icon-set="material-icons">add</md-icon>
  </md-button>
</div>
