<md-list>
  <md-list-item ng-repeat="route in routeList" 
                ng-init="routeStyle = { 'background-image': 'url(' + route.color.image + ')',
                                        'color': contrastColorValue(route.color),
                                      }"
                ui-sref="^.route.listAscents({ gymId: gym.id, wallId: wall.id, routeId: route.id})" ng-click="$event.stopPropagation()" class="md-3-line" >
    <div class="md-avatar" ng-style="routeStyle" >
      <div class="md-avatar-inner">
      <span class="md-avatar-text">
      {{ route.difficulty.name }}
      </span>
      </div>
    </div>
    <div class="md-list-item-text" layout="column">
      <h3>{{ route.color.name }} {{ route.difficulty.name }}</h3>
      <p>Set Date: {{ route.setDate}}</p>
      <p>Remove Date: {{ route.removeDate }}</p>
    </div>

    <md-button class="md-icon-button" ui-sref="^.route.editRoute({ routeId: route.id })" ng-click="$event.stopPropagation()">
      <span class="material-icons">mode_edit</span>
    </md-button>
  </md-list-item>
</md-list>

<div class="fixed-bottom-right">
  <md-button class="md-fab md-mini" ng-click="addRoute($event)">
    <md-icon md-font-set="material-icons">add</md-icon>
  </md-button>
</div>
