<md-list>
  <md-list-item ng-repeat="wall in wallList" ui-sref="^.wall.listRoutes({ gymId: gym.id, wallId: wall.id})" ng-click="$event.stopPropagation()">
    <span class="md-headline">{{ wall.name }}</span>

    <md-button class="md-icon-button md-secondary" ui-sref="^.wall.editWall({ wallId: wall.id })"  ng-click="$$event.stopPropagation()">
      <span class="material-icons">mode_edit</span>
    </md-button>
    <!--
    <md-button class="md-icon-button md-secondary">
      <span class="material-icons" ng-click="deleteWall($event,wall)">delete</span>
    </md-button>
    -->
  </md-list-item>
</md-list>

<div class="fixed-bottom-right">
  <md-button class="md-fab md-mini" ng-click="addWall($event)">
    <md-icon md-font-set="material-icons">add</md-icon>
  </md-button>
</div>
