<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='{% static 'css/bootstrap.min.css' %}' rel='stylesheet'>
  <link href='{% static 'ClimbingApp/style.css' %}' rel='stylesheet'>
  <script src='{% static 'jquery-1.11.3.min.js' %}'></script>
  <script src='{% static 'js/bootstrap.min.js' %}'></script>
</head>
<body>
<div class="container-fluid">
  {% include 'ClimbingApp/header.html' %}
  {% if gym or wall or route %}
  {# Looking for some way to factor this out... #}
  <ol class="breadcrumb">
    {% if gym %}
    <li><a href='{% url 'viewGym' gym.id %}'>{{gym}}</a></li>
    {% endif %}
    {% if wall %}
    <li><a href='{% url 'viewWall' wall.id %}'>{{wall}}</a></li>
    {% endif %}
    {% if route %}
    <li><a href='{% url 'viewRoute' route.id %}'>{{route}}</a></li>
    {% endif %}
  </ol>
  {% endif %}
  {% block content %}
  Missing Content
  {% endblock %}
</div>
</body>
</html>
