<!doctype html>
<html ng-app="ClimbingApp">
<head>
  {% load staticfiles %}
  <title>ClimbingApp</title>
  <script data-main="{% static 'ClimbingApp/javascript/main' %}" src="{% static 'bower_components/requirejs/require.js' %}"></script>

  <link rel="stylesheet" href="{% static 'bower_components/angular-material/angular-material.css' %}" />
  <link rel="stylesheet" href="{% static 'bower_components/nvd3/build/nv.d3.css' %}" />
  <link rel="stylesheet" href="{% static 'ClimbingApp/main.css' %}" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link rel="shortcut icon" href="{% static 'ClimbingApp/images/favicon.png' %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <meta name="mobile-web-app-capable" content="yes">
</head>
<body ui-view>
</body>
</html>
